
/*Globals */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

h2 {
  text-align: center;
}

/* NavBar */

.nav-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 22%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.nav-bar {
  padding-top: 17px;
}

.logo {
  padding-left: 1em;
}

.listing {
  text-transform: capitalize;
  list-style: none;
}

.listing li {
  display: inline-block;
  padding-right: 1rem;
}

.listing li a {
  transition: all 0.3s ease 0s;
  color: grey;
}

.listing li a:hover {
  color: rgb(8, 61, 110);
}

/* Clients Component */


.login-clients {
  display: flex;
  justify-content: center;
  padding-top: 10%;
  height: 73vh;
}

.form-class {
  background-color: white;
}

/* Partners Component */

.login-partners {
  display: flex;
  justify-content: center;
  padding-top: 10%;
  height: 73vh;
}

/* Home Component */

.content {
    width: auto;
    padding-bottom: 0;
}

.home-container {
    background-image: url("./images/city.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 62vh;
}

.home-text {
  color: white;
  height: auto;
  padding-top: 10rem;
  padding-left: 16em;
}

.card-container {
   height: auto;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   background-color: rgb(212, 212, 212);
}

.card-container>* {
  flex: 10 10 33.333%;
}

.card {
  padding-left: 3em;
  padding-right: 4em;
}

/* Footer */

.footer {
  background-color: black;
  width: 100%;
  height: 10vh;
}

.icons {
  padding-left: 5em;
}

.address {
  display: flex;
  padding-left: 20px;
  padding-top: 10px;
  justify-content: flex-start;
  color: white;
  font-size: x-small;
}

.link {
  padding: 4px;
}

/* Contact page */

.form-title {
  padding-bottom: 10px;
}

.contact-container {
  background-image: url("./images/building.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}

.contact-form {
  padding-top: 2em;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  height: auto;
}

.text-label {
  color: black;
}
