/*Globals */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

/* NavBar */

.nav-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
  top: 0;
  left: 0;
  z-index: 1;
  position: fixed;
  background-color: white;
}

.nav-bar {
  padding-top: 17px;
}

.logo {
  padding-left: 1em;
}

.listing {
  text-transform: capitalize;
  list-style: none;
}

.listing li {
  display: inline-block;
  padding-right: 1rem;
}

.listing li a {
  transition: all 0.3s ease 0s;
  color: grey;
}

.listing li a:hover {
  color: rgb(8, 61, 110);
}

.menu-wrap {
  top: 0;
  left: 0;
  z-index: 1;
}

.menu-wrap .toggler {
  position: absolute;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  z-index: 1;
  width: 45px;
  height: 58px;
  background: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hamburger */
.menu-wrap .hamburger > div {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: rgb(8, 61, 110);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

.menu-wrap .hamburger > div:after {
  top: 10px;
}

.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

/* Login Component */

.content-client {
  height: 73vh;
}

.login-clients {
  display: flex;
  justify-content: center;
}

.title-header {
  text-align: center;
}

.wrapper {
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
  padding-top: 1rem;
}

.form-class {
  width: 20%;
  margin-left: 40%;
}

.block2 {
  padding-left: 3rem;
}

#label {
  margin-top: 2rem;
}

.blue-button {
  margin-top: 2rem;
}

/* Home Component */

.content {
  width: auto;
  padding-bottom: 0;
}

.home-container {
  background-image: url("./images/picture.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 85vh;
}

.home-text {
  color: rgb(8, 61, 110);
  height: auto;
  padding-top: 15em;
  padding-left: 16em;
}

.card-container {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(212, 212, 212);
  padding: 40px 0;
  padding-left: 13%;
  padding-right: 13%;
}

.card-container > * {
  flex: 30%;
}

.card {
  margin-bottom: 25px;
  margin-left: 25px;
}

/* NewsLetter */

.letter-container {
  width: 100%;
  height: 30vh;
  background-color: rgb(5, 38, 70);
  padding: 46px 0 46px 0;
}

.newsletter {
  margin: 0 auto;
}

#title-news,
#paragraph-news {
  text-align: center;
  color: white;
}

#title-news {
  margin: 0 0 15px 0;
}

#paragraph-news {
  margin-bottom: 20px;
}

.fieldset {
  display: inline-block;
  left: 43%;
  position: relative;
}

.email-text {
  margin: 0 10px 0 0;
}

/* Footer */

.footer {
  background-color: black;
  width: 100%;
  height: 10vh;
}

.icons {
  padding-left: 5em;
}

.address {
  display: flex;
  padding-left: 20px;
  padding-top: 10px;
  justify-content: flex-start;
  color: white;
  font-size: x-small;
}

.link {
  padding: 4px;
}

/* Contact page */

.form-title {
  padding-bottom: 10px;
}

.contact-container {
  background-image: url("./images/picture2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
}

.contact-form {
  padding-top: 2em;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  height: auto;
}

.text-label {
  color: black;
}
